{
  "plugins": [
    [
      "module-resolver", {
        "root": ["./"],
        alias: {
          components: './src/components',
          context: './src/context',
          fb: './src/firebase',
          models: './src/models',
          pages: './src/pages',
          styles: './src/styles',
          utils: './src/utils'
        }
      }
    ]
  ]
}