@use 'styles/spacing';

.clients-page {
  align-items: center;

  p {
    text-align: center;
  }

  .profile-data {
    margin-bottom: spacing.$medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}