.client-dialog .content-container {
  max-width: 470px;
}

.client-dialog p {
  padding: 0;
  margin: 0 0 16px 0;
}

.client-dialog .input:not(:last-child) {
  margin-bottom: 16px;
}

.client-dialog .input.phone {
  width:  164px;
}

.client-dialog .input.initial-cashback {
  width:  240px;
}