.transaction-dialog .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transaction-dialog p {
  padding: 0;
  margin: 0 0 16px 0;
}

.transaction-dialog table td {
  padding: 4px 8px;
  text-align: right;
}

.transaction-dialog table tbody {
  max-height: 30vh;
  overflow: auto;
  display: block;
}

.transaction-dialog table tbody td {
  border-bottom: solid 1px var(--grey);
}

.transaction-dialog table .date {
  font-size: 0.8em;
}

.transaction-dialog table .increased {
  color: green;
}

.transaction-dialog table .decreased {
  color: red;
}

.transaction-dialog table tfoot td {
  font-weight: bold;
}

.transaction-dialog .input {
  margin-bottom: 16px;
}

.transaction-dialog .input.name {
  width:  360px;
}

.transaction-dialog .input.phone {
  width:  146px;
}

.transaction-dialog .input.cashback-balance {
  width:  164px;
}