$none: transparent;

$neutral: #808080;
$neutral-white: #FFFFFF;
$neutral-black: #000000;

$primary: #FAB31C;
$success: #3F7D20;
$danger: #C20114;

@function buildColorMap($regularColor, $variation) {
  $colors: (
    regular: $regularColor,
    light: lighten($regularColor, $variation),
    lightest: lighten($regularColor, ($variation*2)),
    dark: darken($regularColor, $variation),
    darkest: darken($regularColor, ($variation*2)),
  );

  @return $colors;
}

$neutral-colors: buildColorMap($neutral, 16);
$neutral-light: map-get($neutral-colors, light);
$neutral-lightest: map-get($neutral-colors, lightest);
$neutral-dark: map-get($neutral-colors, dark);
$neutral-darkest: map-get($neutral-colors, darkest);

$primary-colors: buildColorMap($primary, 4);
$primary-light: map-get($primary-colors, light);
$primary-lightest: map-get($primary-colors, lightest);
$primary-dark: map-get($primary-colors, dark);
$primary-darkest: map-get($primary-colors, darkest);

$danger-colors: buildColorMap($danger, 5);
$danger-light: map-get($danger-colors, light);
$danger-lightest: map-get($danger-colors, lightest);
$danger-dark: map-get($danger-colors, dark);
$danger-darkest: map-get($danger-colors, darkest);

$success-colors: buildColorMap($success, 5);
$success-light: map-get($success-colors, light);
$success-lightest: map-get($success-colors, lightest);
$success-dark: map-get($success-colors, dark);
$success-darkest: map-get($success-colors, darkest);