$neutral: #808080;
$neutral-light: lighten($neutral, 16%);
$neutral-lightest: lighten($neutral, 32%);
$neutral-dark: darken($neutral, 16%);
$neutral-darkest: darken($neutral, 32%);

$neutral-white: #FFFFFF;
$neutral-black: #000000;

$primary: #FAB31C;
$primary-light: lighten($primary, 6%);
$primary-lightest: lighten($primary, 12%);
$primary-dark: darken($primary, 6%);
$primary-darkest: darken($primary, 12%);

$danger: #C20114;
$danger-light: lighten($danger, 5%);
$danger-lightest: lighten($danger, 10%);
$danger-dark: darken($danger, 5%);
$danger-darkest: darken($danger, 10%);

$success: #3F7D20;
$success-light: lighten($success, 5%);
$success-lightest: lighten($success, 10%);
$success-dark: darken($success, 5%);
$success-darkest: darken($success, 10%);