@use 'styles/colors';
@use 'styles/spacing';

.page-footer {
  background-color: colors.$primary;
  color: colors.$text;
  display: flex;
  flex-direction: column;
  align-items: center;

  .center-content {
    margin-top: spacing.$large;
    margin-bottom: spacing.$large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .block {
      display: flex;
      flex-direction: column;
      margin: spacing.$medium;
    }

    a {
      color: inherit;
    }

    .version {
      width: 100%;
      text-align: center;
      font-size: 0.8em;
      margin: spacing.$large 0 0 0;
    }
  }
}
