.clients-list {
  min-width: calc(100% - 96px);
  border-radius: 8px;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: white;
  color: var(--font-color);
  -webkit-box-shadow: 0px 8px 20px rgb(0, 0, 0, 10%);
  -moz-box-shadow: 0px 8px 20px rgb(0, 0, 0, 10%);
  box-shadow: 0px 8px 20px rgb(0, 0, 0, 10%);
  margin: 48px 0px;
}

.clients-list th, .clients-list td {
  width: 25%;
  padding: 12px 24px;
  text-align: left;
}

.clients-list th .column-icon {
  font-size: 0.9em;
  margin-right: 4px;
}

.clients-list th .sorting-icon {
  margin-left: 4px;
}

.clients-list th.action-column, .clients-list td.action-column {
  width: unset;
}

.clients-list th h3 {
  margin: 0;
  cursor: pointer;
}

.clients-list td {
  border-top: solid 1px var(--grey);
}

.clients-list tbody tr:nth-child(odd) {
  background-color: var(--light-grey);
}

.clients-list tbody tr:hover {
  background-color: var(--regular-grey);
}

.clients-list tbody tr:hover .edit-icon {
  display: initial;
}

.clients-list tbody td .edit-icon {
  margin-left: 8px;
  display: none;
}

.clients-list tbody td:not(.empty) span, .clients-list tbody td a {
  cursor: pointer;
}

.clients-list .empty {
  background-color: white;
  padding: 48px;
  text-align: center;
  color: var(--light-font-color);
}

.clients-list .empty span {
  display: block;
}

.clients-list .empty .empty-icon {
  font-size: 4em;
}

.clients-list .empty .message {
  font-size: 1.5em;
  padding: 8px;
}