:root {
  --primary-color: #FAB31C;
  --light-font-color: #CCCCCC;
  --font-color: #585858;
  --light-grey: #FAFAFA;
  --regular-grey: #F7F7F7;
  --grey: #E7E7E7;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  font-size: 16px;
}

.app a {
  color: var(--text-color);
}