@use 'styles/colors';

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: colors.$text;
  font-size: 16px;
}

.app a {
  color: colors.$text;
}

.app .version {
  color: colors.$text-light;
  font-size: 0.8em;
}