@use 'styles/spacing';

.client-dialog {
  .content-container {
    min-width: 390px;
    max-width: 470px;
  }

  .content {
    display: flex;
    flex-direction: column;

    .profile-data {
      align-self: center;
    }

    .info, .profile-data, .input:not(:last-child) {
      margin-bottom: spacing.$medium;
    }

    .input {
      &.phone {
        width:  180px;
      }

      &.initial-cashback {
        width:  260px;
      }
    }
  }

}